@import "tailwindcss";

@theme {

  --color-background: white;
  --color-foreground: #171717;

  --color-brand-start: #001D54;
  --color-brand-end: #008C99;

  --color-heading-start: #0019FF;
  --color-heading-end: #F200FF;

  --color-text-product: #00D4FF;

  --color-orange-btn-start: #FF6F00;
  --color-orange-btn-mid: #FF9000;
  --color-orange-btn-end: #FF8000;

  --color-orange-soft: #fff7ed;

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}


@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);

    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-gradient-brand {
    @apply bg-linear-to-r
    from-heading-start
    to-heading-end
    bg-clip-text
    text-transparent;
  }
}

